nav.Team{
    width: 50%;
    float: left;
}

nav.input{
    width: 50%;
}

.dropdown{
    width: 50%;
}

h1{
    color: #166bb3;
}

textarea{
    width: 50%
}

/* Isso centraliza uma nav */
/* nav.ops {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */