nav.Team{
    width: 50%;
    float: left;
}

nav.input{
    width: 50%;
}

.dropdown{
    width: 50%;
}
textarea{
    width: 50%
}

/* nav.ops {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */