.chart {
    display: block; /* none remove o componente */
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

nav.container {
    height: 100%;
    width: 100%;
    /* background: -webkit-linear-gradient(top, #088fad 20%, #00d5ff 100%); */
}

#chart_void {
    width: 30%;
    float: left;
    background-color: #FFFFFF;
    border-width: thin;
    border-style: dashed;
    border-color: #CFCBCB;
    text-align: center;
    padding: 9% 0% 9% 0%;
}

nav.ops{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

h3.header {
    /* background-color: blue; */
}

#addChart {
    background-color: #0488BB;
    color: #FFFFFF;
}

nav.modal {
    background-color: rgba(237, 237, 237, 0.8);
}

nav.content {
    background-color: #E7E7E7;
}

h2.title {
    text-align: left;
}

#OpModalBt i{
    background-color: #71B822;
}

i.add{
    color: #FFFFFF;
}